<div>
  <app-header></app-header>
  <div fxLayout.lg="row" fxLayout.xs="column" fxLayout.sm="column">
    <mat-card fxFlex.lg="{{fxFlexForCol1}}" fxFlex.xs="100" fxFlex.sm="100" [ngStyle]="{'height': innerHeight + 'px'}"
      class="card" *ngIf="isHideFirstCol">
      <div fxLayout="row">
        <div fxFlex="100">
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Static Data | Select Configuration">
              <div class="sub-head"></div>
              <div class="m-10">
                <ag-grid-angular style="width: 100%; height: 380px;" class="ag-theme-alpine" [rowData]="rowData"
                  [columnDefs]="columnDefs">
                </ag-grid-angular>
              </div>
              <div class="bounds" [ngStyle]="{'height': btnHeight + 'px'}">
                <div class="btn-style" fxLayoutAlign="end end" fxLayoutGap="15px">
                  <button mat-raised-button class="example-action-button btn-save">
                    Save
                  </button>
                  <button mat-raised-button class="example-action-button btn-save">
                    Cancel
                  </button>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card>
    <mat-card fxFlex.lg="{{fxFlexForCol2}}" fxFlex.xs="100" fxFlex.sm="100" [ngStyle]="{'height': innerHeight + 'px'}"
      class="card">
      <div fxLayout="row" class="d-flex">
        <div fxFlex="3">
          <mat-icon class="icon-style" (click)="fullscreen()">fullscreen</mat-icon>
        </div>
        <div fxFlex="95">
          <mat-tab-group>
            <mat-tab label="Client Names">
              <div class="sub-head"></div>
              <div class="card-body">
                <div class="bg-head">
                  <p class="mb-0">Maintain Client Names</p>
                </div>
                <div class="my-2010">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Client Name</mat-label>
                    <input matInput placeholder="Placeholder" class="w-full" required>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-full">
                    <mat-select placeholder="Config Type">
                      <mat-option [value]="'GB'">Test</mat-option>
                      <mat-option [value]="'US'">Options</mat-option>
                      <mat-option [value]="'CA'">Test</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="bg-head m-0">
                    <p class="mb-0">Change History</p>
                  </div>
                  <div class="chnage-history-div">
                    <p class="txt-history">No History Available</p>
                  </div>
                </div>

              </div>
              <div class="bounds" [ngStyle]="{'height': btnHeight + 'px'}">
                <div class="body-content" fxLayoutAlign="end end" fxLayoutGap="15px">
                  <button mat-raised-button class="example-action-button btn-save">
                    Save
                  </button>
                  <button mat-raised-button class="example-action-button btn-save">
                    Cancel
                  </button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Recipient Categories">
              <div class="sub-head"></div>
              <div class="card-body">
                <div class="bg-head">
                  <p class="mb-0">Maintain Recipient Categories</p>
                </div>
                <div class="my-2010">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Category Name</mat-label>
                    <input matInput placeholder="Placeholder" class="w-full" required value="Test_nimisha">
                  </mat-form-field>
                  <div class="bg-head m-0">
                    <p class="mb-0">Change History</p>
                  </div>
                  <div class="mt-10">
                    <ag-grid-angular style="width: 100%; height: 220px;" class="ag-theme-alpine" [rowData]="rowData1"
                      [columnDefs]="columnHeader">
                    </ag-grid-angular>
                  </div>
                </div>

              </div>
              <div class="bounds" [ngStyle]="{'height': btnHeight + 'px'}">
                <div class="body-content" fxLayoutAlign="end end" fxLayoutGap="15px">

                  <button mat-raised-button class="example-action-button btn-save">
                    Cancel
                  </button>
                  <button mat-raised-button class="example-action-button btn-save">
                    Save
                  </button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Client Contacts">
              <div class="sub-head"></div>
              <div class="card-body">
                <div class="bg-head">
                  <p class="mb-0">Maintain Recipient Categories</p>
                </div>
                <div class="my-2010">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Placeholder" class="w-full" required value="Test">
                  </mat-form-field>

                  <mat-form-field appearance="outline" class="w-full mt-5">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Placeholder" class="w-full" required value="">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-full mt-5">
                    <mat-label>Role</mat-label>
                    <input matInput placeholder="Placeholder" class="w-full" required value="Branch Manager">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-full mt-5">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="Placeholder" class="w-full" required value="UOmini.p2023@cs.com">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-full mt-5">
                    <mat-label>Message</mat-label>
                    <textarea matInput
                      placeholder="Message">Update record with existing FN, LN but new emal-id.</textarea>
                  </mat-form-field>
                </div>

              </div>
              <div class="bounds" [ngStyle]="{'height': btnHeight + 'px'}">
                <div class="body-content" fxLayoutAlign="end end" fxLayoutGap="15px">

                  <button mat-raised-button class="example-action-button btn-save">
                    Cancel
                  </button>
                  <button mat-raised-button class="example-action-button btn-save">
                    Save
                  </button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="E-Mail Templates">
              <div class="sub-head"></div>
              <div class="card-body">
                <div class="bg-head">
                  <p class="mb-0">Maintain E-mail Template</p>
                </div>
                <div class="my-2010">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Template Name</mat-label>
                    <input matInput placeholder="Placeholder" class="w-full" required value="FinalEmailTemp_1234">
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-full mt-5">
                    <mat-label>Body Text</mat-label>
                    <textarea matInput required rows="3"
                      placeholder="Message">Dear Sir,</textarea>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-full mt-5">
                    <mat-label>Unchanged Text</mat-label>
                    <textarea matInput required rows="3"
                      placeholder="Message">Regarding,</textarea>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Chating Type</mat-label>
                    <input matInput placeholder="Placeholder" class="w-full" required value="Fund Client Reporting">
                  </mat-form-field>
                </div>

              </div>
              <div class="bounds" [ngStyle]="{'height': btnHeight + 'px'}">
                <div class="body-content" fxLayoutAlign="end end" fxLayoutGap="15px">
                  <button mat-raised-button class="example-action-button btn-save">
                    Cancel
                  </button>
                  <button mat-raised-button class="example-action-button btn-save">
                    Save
                  </button>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="FTPS Configuration"> Content 3 </mat-tab>
            <mat-tab label="Rule Group"> 
              <div class="sub-head"></div>
              <div class="card-body">
                <div class="bg-head">
                  <p class="mb-0">Maintain  Rule Group</p>
                </div>
                <div class="my-2010">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Ruler Map Name</mat-label>
                    <input matInput placeholder="Placeholder" class="w-full" required value="Test_April24">
                  </mat-form-field>
                  <div class="tree-view-structure">

                  </div>
                </div>

              </div>
              <div class="bounds" [ngStyle]="{'height': btnHeight + 'px'}">
                <div class="body-content" fxLayoutAlign="end end" fxLayoutGap="15px">
                  <button mat-raised-button class="example-action-button btn-save">
                    Cancel
                  </button>
                  <button mat-raised-button class="example-action-button btn-save">
                    Save
                  </button>
                </div>
              </div>  
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card>
  </div>
</div>